.section-header
  %h1.title-section Log in!
.container
  .col-xs-6
    = bootstrap_form_for(@user_session) do |f|
      .field
        = f.text_field :username, placeholder: "frankie_example"
      .field
        = f.password_field :password, placeholder: "password"
      = f.submit "Sign In!"
    %br/
  .col-xs-2
    / Omni Auth
    .social_network_authorize
      .social-icons
        %h4 Log in via
        %h4⬇Facebook⬇
        - ["facebook"].each do |provider|
          / This is left in this formatting for ease of adding twitter and google
          - if provider !="open_id"
            = link_to "/auth/#{provider}" do                                                                                                                         |
              image_tag("facebook_blk.png", onmouseover: "this.src='#{asset_path('facebook_blu.png')}'", onmouseout: "this.src='#{asset_path('facebook_blk.png')}'") |
              end                                                                                                                                                    |
          - else
            = link_to image_tag("#{provider}_blk.png"), "/auth/#{provider}/openid_url=https://www.google.com/accounts/o8/id"
        %h4 ⬆Click Here⬆
    / END
  #sign-in-well.col-xs-6
    %h3.well
      New to All the Swing Dancing?
      %button.btn.btn-default.btn-md
        = link_to "Sign up now!", new_user_path, style: "text-decoration: none; color:black;"
