<div class="container">
  <h1>Sign in!</h1>
  <div class="col-xs-6">
    <%=bootstrap_form_for(@user_session) do |f|%>
      <div class="field">
        <%= f.text_field :username, placeholder: "Frankie_Example"%>
      </div>
      <div class="field">
        <%= f.password_field :password, placeholder: "password"%>
      </div>
      <%= f.submit "Sign In!", class:"btn btn-primary btn-md"%>
    <%end%>
    <br>
    New to Swing Out?
    <%=button_to "Sign up now!", new_user_path, class: "btn btn-default btn-sm"%>
  </div>

  <!--Omni stuff-->
  <div class="social_network_authorize">
  <h4>Or Sign in using...</h4>
   <% ["twitter","facebook", "linkedin","open_id"].each do |provider| %>
      <% if provider !="open_id" %>
        <%= link_to image_tag("#{provider}_32.png"), "/auth/#{provider}" %>
      <% else %>
        <%= link_to image_tag("auth/#{provider}_32.png"), "/auth/#{provider}/openid_url=https://www.google.com/accounts/o8/id" %>
      <% end %>
   <% end %>
  </div>
    <!--END-->


</div>
