
<div class="container">
  <h1>Welcome to All the Swing Dancing!</h1>
  <h4>Let's get you signed up!</h4>
  <br>
  <div class="col-xs-6">
    <%=bootstrap_form_for(@user) do |f|%>
      <div class="field">
        <%= f.text_field :username%>
      </div>
      <div class="field">
        <%= f.text_field :email%>
      </div>
      <div class="field">
        <%= f.password_field :password%>
      </div>
      <div class="field">
        <%= f.password_field :password_confirmation%>
      </div>
      <%= f.submit%>
    <%end%>
  </div>
</div>
