.section-header
  %h1.title-section Sign up!
.container
  .col-xs-6
    = bootstrap_form_for(@user) do |f|
      .field
        = f.text_field :username
      .field
        = f.text_field :email
      .field
        = f.password_field :password
      .field
        = f.password_field :password_confirmation
      = f.submit "Create my account"
  .col-xs-2
    .social_network_authorize
      .social-icons
        %h4 Or sign up via ⬇Facebook⬇
        - ["facebook"].each do |provider|
          / This is left in this formatting for ease of adding twitter and google
          - if provider !="open_id"
            = link_to "/auth/#{provider}" do                                                                                                                           |
                image_tag("facebook_blk.png", onmouseover: "this.src='#{asset_path('facebook_blu.png')}'", onmouseout: "this.src='#{asset_path('facebook_blk.png')}'") |
              end                                                                                                                                                      |
          - else
            = link_to image_tag("#{provider}_blk.png"), "/auth/#{provider}/openid_url=https://www.google.com/accounts/o8/id"
        %h4 ⬆Click Here⬆
  .col-xs-4
    -# BELOW WILL BE THE SECTION FOR ADDING YOUR SCENE TO THE REGISTRY
    -# %h1.title-section Scene Registry
    -# Want to register your scene, making it easier for people to find your local dance group? Click the link below!
