= bootstrap_form_for(@event) do |f|
  .col-xs-8
    .field
      = f.text_field :name, placeholder:"Event Name - Displays only 30 characters on main page"
    .field
      = f.text_field :organizer
    .field
      = f.text_field :address, placeholder: "Where's this at?"
    .field
      = f.date_field :date
    .field
      = f.text_field :price, placeholder: "$ Dollars"
    .field
      = f.select :event_type, ["Workshop","Exchange","Evening Dance","Dance Camp","Special Event"], :include_blank => 'Select Type'
    .field
      = f.select :dance_style, ["Lindy Hop","Charleston","Shag","Blues","Boogie Woogie","Balboa", "Other"], :include_blank => 'Select Type'
    .field
      = f.text_area :description, placeholder: "Tell us a bit about this event!"
    .field
      = f.label :url, "External Event Website"
      = f.text_field :url, placeholder: "Website for registration and info"
    .field
      = f.label :facebook_url, "Facebook Event Page"
      = f.text_field :facebook_url, placeholder: "Website for registration and info"
  #event-sidebar.col-xs-4
    %h3 Upload an Event Image
    %h5{:style => "font-style:italic;"} Pro-tip: square .png files with no background work best!
    #event_image_thumbnail
      = f.attachment_field :event_image
    %br/
    #preview
      - if @event.event_image
        = image_tag attachment_url(@event, :event_image), width: 300
    #event-submit.actions
      = f.submit "Submit Event", class: "btn btn-standard btn-lg"
