= bootstrap_form_for(@event) do |f|
  .col-xs-8
    .field
      = f.text_field :name, placeholder:"Event Name - Displays only 30 characters on main page"
    .col-xs-6
      .field
        = f.text_field :organizer
    .col-xs-6
      .field
        = f.text_field :address, placeholder: "Street Address"
    .col-xs-6
      .field
        = f.text_field :city, placeholder: "City"
    .col-xs-6
      .field
        = f.text_field :state, placeholder: "State"
    .col-xs-6
      .field
        = f.date_field :date
    .col-xs-6
      .field
        = f.text_field :price, placeholder: "$ Dollars"
    .col-xs-6
      .field
        = f.select :event_type, ["Workshop","Exchange","Evening Dance","Dance Camp","Special Event"], :include_blank => 'Select Type'
    .col-xs-6
      .field
        = f.select :dance_style, ["Lindy Hop","Charleston","Shag","Blues","Boogie Woogie","Balboa", "Other"], :include_blank => 'Select Type'
    .field
      = f.text_area :description, placeholder: "Tell us a bit about this event!"
    .col-xs-6
      .field
        = f.text_field :url, placeholder: "Website for registration and info"
    .col-xs-6
      .field
        = f.text_field :facebook_url, placeholder: "Facebook Event Page"
  .event-sidebar.col-xs-4
    %h3 Upload an Event Image
    %h5{:style => "font-style:italic;"} Pro-tip: square .png files with no background work best!
    #event_image_thumbnail
      = f.attachment_field :event_image
    %br/
    #preview
      - if @event.event_image
        = image_tag attachment_url(@event, :event_image), width: 300
  .col-xs-9
  .col-xs-2
    .event-submit.actions
      = f.submit "Submit", class: "btn btn-standard btn-lg"
