<%@events.each_slice(4) do |four|%>
  <div class="row">
    <% four.each do |event|%>
      <div class="col-xs-3", id="event-tabs">
        <div class="panel panel-default">
          <!--Heading-->
          <div class="panel-heading" id="panel-title">
            <h4 class="event-tab">
              <%if event.user == current_user && current_user != nil%>
                <%=link_to event_path(event), method: :delete do%><i class="glyphicon glyphicon-cog"></i><%end%>
              <%else%>
              <%end%>
              <%=link_to truncate(event.name, :length => 30), event%>
            </h4>
          </div>
          <!--Body-->
          <div class = "panel-body">
            <%=event.address%>
            <br>
            <h4 class="event-date"><%=event.date.strftime("%b %d")%></h4>
            <%=number_to_currency(event.price)%>
          </div>
          <!--Bottom-->
          <div class="panel-heading" id="panel-bottom">
            <%if event.event_image%>
              <div class="footer-with-icon">
                  <%=image_tag attachment_url(event, :event_image), class: "img-responsive", id: "event-image-thumbnail"%>
              </div>
            <%end%>
            <%if @user%>
              Status:
                <%= link_to attendance_status_check_event_path(event), method: :put do%>
                  <%if @user.attending?(event) ==true%>
                    <i class="glyphicon glyphicon-ok"></i>
                  <%else%>
                    <i class="glyphicon glyphicon-remove"></i>
                  <%end%>
                <%end%>
            <%end%>
          </div>
        </div>
      </div>
    <%end%>
  </div>
<%end%>
