- if @event.location.nearbys(200)
  .section-header
    %h3.title-section Other Regional Events
  .container
    %ul
    - @event.location.nearbys(200).take(6).each do |single_event|
      #event-tabs.col-xs-2
        .panel.panel-default
          / Heading
          #panel-title.panel-heading
            %h4.event-tab
              .row
                = link_to truncate(single_event.event.name, :length => 30), single_event.event
          / Body
          .panel-body.main
            - if single_event.distance.round(0) <= 20.0
              Also here in town!
            - else
              = single_event.distance.round(0)
              miles away
            %br
            - if single_event.event.city && single_event.event.state
              in #{single_event.event.city}, #{single_event.event.state}
            %br
            %h4.event-date
              = single_event.event.date.strftime("%b %d")
            %p
              = single_event.event.date.strftime("%Y")
            = single_event.event.dance_style
            = single_event.event.event_type
          / Bottom
          .panel-bottom.panel-heading
            - if single_event.event.event_image
              .footer-with-icon
                = image_tag attachment_url(single_event.event, :event_image), class: "img-responsive event-image-thumbnail"
            - if @user
              = link_to attendance_status_check_event_path(single_event.event), method: :put do
                - if @user.attending?(single_event.event)
                  .going
                    .glyphicon.glyphicon-ok-sign
                - else
                  .not-going
                    .glyphicon.glyphicon-remove
