<div class = "container">
  <div class="row">
      <h1>Get ready to Swing Out!</h1>
  </div>
  <br>
  <div class="row">
    <%@events.each do |e|%>
    <div class="col-xs-3", id="event-tabs">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><%=link_to truncate(e.name, :length => 30), e%></h4>
        </div>
        <div class = "panel-body">
        <%=e.location%><br>
        <%=number_to_currency(e.price)%>

        <h4 style="float:right;"><%=e.date.strftime("%d %b")%>
          <%if e.user == current_user && current_user != nil%>
            <%=link_to event_path(e), method: :delete do%><i class="glyphicon glyphicon-trash"></i><%end%>
            <%else%>
            <%end%>
            <br>
            <br>
            <!--FACEBOOK 'LIKE' BUTTON -->
            <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
            <!--  -->
          </h4>

          </div>
        </div>
      </div>

    <%end%>
  </div>

</div>
