.container
  %hr/
  .row
    .col-xs-4
    .col-xs-4
      %h1.title-section All Events
    .col-xs-4
      .title-section{:style => "font-size:18px; text-align:right;"}
        Search by Event Name
        = bootstrap_form_for events_path, :method => 'get' do
          = text_field_tag :search, params[:search]
          = submit_tag "Search", :name => nil
  %hr/

  .col-xs-3
    .advertising-space
    .advertising-space
    / ADVERT SPACE HERE
  .col-xs-9
    = render partial: "panel_tile"


  / Resposive maps via GOOGLE
  %h1.title-section
    %hr/
    All Event Locations
  %hr/
  %div{:style => "width: 400px;"}
    #map{:style => "width: 950px; height: 400px;"}
  :javascript
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(#{raw @hash.to_json});
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  / END
