.container
  %hr/
  %h1#web-app-title{:style => "font-size:42px; text-align:center;"} All Events
  %hr/
  .col-xs-4
    / ADVERT SPACE HERE
  .col-xs-8
    #web-app-title{:style => "font-size:18px; text-align:right;"}
      Search by Event Name
      = bootstrap_form_for events_path, :method => 'get' do
        = text_field_tag :search, params[:search]
        = submit_tag "Search", :name => nil
    %br/
    = render partial: "panel_tile"


  / Resposive maps via GOOGLE
  %h1#web-app-title{:style => "font-size:42px; text-align:center;"}
    %hr/
    All Event Locations
  %hr/
  %div{:style => "width: 400px;"}
    #map{:style => "width: 950px; height: 400px;"}
  :javascript
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(#{raw @hash.to_json});
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  / END
