<div class="container">
  <h1 id="web-app-title" style="font-size:42px;">Add an event!</h1>

  <%=bootstrap_form_for(@event) do |f|%>
    <div class="col-xs-8">
      <div class="field">
        <%=f.text_field :name, placeholder:"Event Name - Displays only 30 characters on main page"%>
      </div>
      <div class="field">
        <%=f.text_field :organizer%>
      </div>
      <div class="field">
        <%=f.text_field :address, placeholder: "Where's this at?"%>
      </div>
      <div class="field">
        <%=f.date_field :date%>
      </div>
      <div class="field">
        <%=f.text_field :price, placeholder: "$ Dollars"%>
      </div>

      <!--Still working out the kinks here -->
      <div class="field">
        <%=f.select :event_type, ["Workshop","Exchange","Evening Dance","Dance Camp","Special Event", "Blues"]%>
      </div>
        <!-- <div class="radio-inline">
          <input type="radio" name="optradio">Workshop
        </div>
        <div class="radio-inline">
          <input type="radio" name="optradio">Exchange
        </div>
        <div class="radio-inline">
          <input type="radio" name="optradio">Evening Dance
        </div>
        <div class="radio-inline">
          <input type="radio" name="optradio">Dance Camp
        </div>
        <div class="radio-inline">
          <input type="radio" name="optradio">Special Event
        </div>
         -->
        <div class="field">
          <%=f.select :dance_style, ["Lindy Hop","Charleston","Shag","Blues","Boogie Woogie","Balboa"]%>
        </div>
        <div class="field">
          <%=f.text_area :description, placeholder: "Tell us a bit about this event!"%>
        </div>
        <div class="field">
          <%=f.label :url, "External Event Website"%>
          <%=f.text_field :url, placeholder: "Website for registration and info"%>
        </div>
        <div class="field">
          <%=f.label :facebook_url, "Facebook Event Page"%>
          <%=f.text_field :facebook_url, placeholder: "Website for registration and info"%>
        </div>
    </div>
      <div class="col-xs-4" id="event-sidebar">
        <h3>Upload an Event Image</h3>
        <h5 style="font-style:italic;">Pro-tip: square .png files with no background work best!</h5>
        <div id="event_image_thumbnail">
          <%= f.attachment_field :event_image %>
        </div>
        <br>
        <div id="preview">
        </div>
        <div class="actions" id="event-submit">
          <%= f.submit "Add Event", class: "btn btn-standard btn-lg"%>
        </div>
      </div>
    <%end%>
    <br>
  </div>
