<div class="container">
  <h1>Add an event!</h1>

  <%=bootstrap_form_for(@event) do |f|%>
    <div class="col-xs-8">
    <div class="field">
      <%=f.text_field :name, placeholder:"Event Name - Displays only 30 characters on main page"%>
    </div>
    <div class="field">
      <%=f.text_field :organizer, placeholder: "Group Sponsor"%>
    </div>
    <div class="field">
      <%=f.text_field :address, placeholder: "Where's this at?"%>
    </div>
    <div class="field">
      <%=f.date_field :date, placeholder: "dd/mm/yyyy"%>
    </div>
    <div class="field">
      <%=f.text_field :price, placeholder: "$ Dollars"%>
    </div>

    <!--Still working out the kinks here -->
    <div class="field">
      <%=f.select :event_type, ["Workshop","Exchange","Evening Dance","Dance Camp","Special Event"]%>
    </div>
      <div class="radio-inline">
        <input type="radio" name="optradio">Workshop
      </div>
      <div class="radio-inline">
        <input type="radio" name="optradio">Exchange
      </div>
      <div class="radio-inline">
        <input type="radio" name="optradio">Evening Dance
      </div>
      <div class="radio-inline">
        <input type="radio" name="optradio">Dance Camp
      </div>
      <div class="radio-inline">
        <input type="radio" name="optradio">Special Event
      </div>
      <!--  -->

      <br>
      <br>
    <div class="field">
      <%=f.select :dance_style, ["Lindy Hop","Charleston","Shag","Blues","Boogie Woogie","Balboa"]%>
    </div>
    <div class="actions">
      <%= f.submit "Add Event", class: "btn btn-standard btn-md"%>
    </div>
    <%end%>
    <br>
  </div>
