<!--FACEBOOK SCRIPT-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=1667925190116529";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!--END-->
<!--Google Maps Script-->
<script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script>
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
<!--End-->

<div class = "container">
  <div class="row">
      <h1><%=@event.name%></h1>
      <%=link_to "Add to My Events", info_my_events_path%>
    <hr>
    <div class="col-xs-6"
      <h4><%=@event.date.strftime("%b %d, %Y")%></h4>
      <h5>Price: <%=number_to_currency(@event.price)%>  ||  Location: <%=@event.address%></h5>
      Host Organization: <%=@event.organizer%><br>
      Event Type: <%=@event.event_type%><br>
      Dance Style: <%=@event.dance_style%><br>
      <br>
    </div>
    <div class="col-xs-4">
        <%=image_tag attachment_url(@event, :event_image), class: "img-responsive"%>
    </div>
    </div>
    <!--FACEBOOK 'LIKE' BUTTON -->
    <div
      class="fb-like"
      data-share="true"
      data-width="450"
      data-show-faces="true">
    </div>
    <!--END-->
    <br>
    <!--Facebook Comments-->
    <div class="fb-comments" data-href="https://www.facebook.com/events/427416337451669/" data-numposts="5"></div>
    <!--END-->

    <!--Resposive maps via GOOGLE-->
    <div style='width: 400px;'>
      <div id="map" style='width: 400px; height: 400px;'></div>
    </div>
    <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(13);
    });
    </script>
    <!--END-->

    <!--Geocoding Nearby Locationa-->
    <hr>
    <h3>Other Regional Events</h3>
    <ul>
    <%@event.location.nearbys(200).each do |loc|%>
      <div class="col-xs-3", id="event-tabs">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><%= link_to truncate(loc.event.name, :length=>30), loc.event %></h4>
          </div>
          <div class="panel-body">
            <%= loc.distance.round(0) %> miles away<br>
            in <%=loc.event.address%>
          </div>
        </div>
      </div>
      <%end%>
    </ul>
      <!--END-->
</div>
