/ Event Title
.container
  .row
    .col-xs-10
      %h1#event-title= @event.name
      .owner-options
        .row
          .col-xs-3.info-points-data
            - if @event.user != nil
              Added by:
              = @event.user.username
            %br/
            - if permitted_to?(:edit, @event)
              %i.glyphicon.glyphicon-flag
              Owner Options:
              = link_to edit_event_path(@event) do
                %i.glyphicon.glyphicon-cog Edit
            - if permitted_to?(:destroy, @event)
              = link_to event_path(@event), method: :delete do
                %i.glyphicon.glyphicon-trash Delete
      / Event overview heading
      %hr
        .col-xs-3
          .info-points Event:
          .info-points-data
            = @event.dance_style
            = @event.event_type
        .col-xs-3
          - if number_to_currency(@event.price) == "$0.00"
            .info-points Price:
            .info-points-data Free!
          - else
            .info-points Price:
            .info-points-data= number_to_currency(@event.price)
        .col-xs-3
          .info-points Location:
          .info-points-data= @event.address
        .col-xs-3
          .info-points Host:
          .info-points-data= @event.organizer
    / Mini-Panel
    .col-xs-2
      .panel.panel-default.mini-panel
        .panel-heading
        .panel-body
          .event-date
            = @event.date.strftime("%b %d")
        .panel-bottom.panel-heading.mini-panel-bottom
          - if @user
            .panel-heading
              Status:
              = link_to attendance_status_check_event_path(@event), method: :put do
                - if current_user.attending?(@event) == true
                  .going
                    .glyphicon.glyphicon-ok-sign
                - else
                  .not-going
                    .glyphicon.glyphicon-remove
  / Event Body
  .row
    %hr
    .col-xs-8
      .event-description-body
        %p= @event.description
    .col-xs-4
      .event-description-sidebar
        = image_tag attachment_url(@event, :event_image), class: "img-responsive", id: "full-event-image"
  .row
    .container
      .facebook-link-to-event
        = link_to @event.facebook_url, :target => "_blank" do
          = image_tag("facebook_blu.png")
      .external-event-site-button
        = button_to "#{@event.name} website", @event.url, :target => "_blank", class: "btn btn-standard btn-lg"

  %hr
    / Resposive maps via GOOGLE
    %h3.title-section Event Location Map
    %div{:style => "width: 400px;"}
      #map{:style => "width: 950px; height: 400px;"}
    :javascript
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(#{raw @hash.to_json});
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(14);
      });
    / END
    = render partial: "regional_events"
