<!--FACEBOOK SCRIPT-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=1667925190116529";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!--END-->

<!--Event Title  -->
<div class = "container">
  <div class="row">
    <div class="col-xs-10">
      <h1 id="event-title"><%=@event.name%></h1>
      <hr>
      <div class="col-xs-3">
        <div class="info-points">Event: </div><%=@event.dance_style%> <%=@event.event_type%>
      </div>
      <div class="col-xs-3">
        <div class="info-points">Price: </div><%=number_to_currency(@event.price)%>
      </div>
      <div class="col-xs-3">
        <div class="info-points">Location: </div><%=@event.address%>
      </div>
      <div class="col-xs-3">
        <div class="info-points">Host: </div><%=@event.organizer%>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          Status:
          <%=link_to info_my_events_path do%>
            <%if @user.attending?(@event) ==true%>
              <i class="glyphicon glyphicon-ok"></i>
            <%else%>
              <i class="glyphicon glyphicon-remove"></i>
            <%end%>
          <%end%>
        </div>
        <div class = "panel-body">
          <div class="event-date"><%=@event.date.strftime("%b %d")%></div>
        </div>
        <div class="panel-heading" id="panel-bottom">
          <%if @event.user == current_user && current_user != nil%>
            <%=link_to event_path(@event), method: :delete do%><i class="glyphicon glyphicon-trash"> Trash</i><%end%>
          <%else%>
          <%end%>
        </div>
      </div>
    </div>
  </div>
    <!--Event Body-->
    <div class="row">
      <div class="col-xs-8">
        <hr>
        <p><%=@event.description%></p>
      </div>
      <div class="col-xs-4">
          <%=image_tag attachment_url(@event, :event_image), class: "img-responsive", id: "full-event-image"%>
      </div>
    </div>
  <hr>
    <!--Resposive maps via GOOGLE-->
    <h3>Event Location Map</h3>
    <div style='width: 400px;'>
      <div id="map" style='width: 950px; height: 400px;'></div>
    </div>
    <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(14);
    });
    </script>
    <!--END-->

    <!--Geocoding Nearby Locationa-->
    <hr>
    <h3>Other Regional Events</h3>
    <ul>
      <%@event.location.nearbys(200).each_slice(4) do |four|%>
        <div class="row">
          <%four.each do |single_event|%>
            <div class="col-xs-3", id="event-tabs">
              <div class="panel panel-default">
                <!--Heading-->
                <div class="panel-heading" id="panel-title">
                  <h4 class="event-tab">
                    <div class"row">
                      <%=link_to truncate(single_event.event.name, :length => 30), single_event.event%>
                    </div>
                  </h4>
                </div>
                <!--Body-->
                  <div class = "panel-body">
                  <%if single_event.distance.round(0) <= 20.0%>
                    Also here in town!
                  <%else%>
                    <%= single_event.distance.round(0) %> miles away<br>
                    at <%=single_event.event.address%>
                  <%end%>
                  <br>
                  <h4 class="event-date"><%=single_event.event.date.strftime("%b %d")%></h4>
                  <%=number_to_currency(single_event.event.price)%>
                </div>
                <!--bottom-->
                <div class="panel-heading" id="panel-bottom">
                  <%if single_event.event.event_image%>
                    <div class="footer-with-icon">
                        <%=image_tag attachment_url(single_event.event, :event_image), class: "img-responsive", id: "event-image-thumbnail"%>
                    </div>
                  <%end%>
                  <%if @user%>
                    Status:
                      <%= link_to attendance_status_check_event_path(single_event.event), method: :put do%>
                        <%if @user.attending?(single_event.event) ==true%>
                          <i class="glyphicon glyphicon-ok"></i>
                        <%else%>
                          <i class="glyphicon glyphicon-remove"></i>
                        <%end%>
                      <%end%>
                  <%end%>
                </div>

              </div>
            </div>
          <%end%>
        </div>
      <%end%>
    </ul>
      <!--END-->
</div>
