<div class="container">
  <h1>My Events</h1>
  Helping keep track of the events you want to go to!
  <hr>
  <!--Events owned by Users-->
    <%@events.each do |e|%>
      <%if e.user == current_user && current_user != nil%>
        <div class="col-xs-3", id="event-tabs">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4><%=link_to truncate(e.name, :length => 30), e%></h4>
            </div>
            <div class = "panel-body">
            <%=e.address%><br>
            <%=number_to_currency(e.price)%>

            <h4><%=e.date.strftime("%b %d")%></h4>
              <%if e.user == current_user && current_user != nil%>
                <%=link_to event_path(e), method: :delete do%><i class="glyphicon glyphicon-trash"></i><%end%>
                <%else%>
              <%end%>
              <%if current_user && current_user!= nil%>
                <input type="checkbox" checked data-toggle="toggle" data-on="Ready" data-off="Not Ready" data-onstyle="success" data-offstyle="danger">
              <%end%>
              </div>
            </div>
          </div>
        <%end%>
    <%end%>
  <!---->
  <%@events.each do |e|%>
    <%if e.attendance_status == true%>
      <%e.name%>
    <%end%>
  <%end%>

</div>
